body {
    background-color: #778899;
    height: 100%
}

/*menu*/
.menu{
    position: absolute;
    left: 23%;
}
.menu li a{
    font-size: 130%;
}

.navbar{
    position: fixed;
    width: 100%;
}

/*fundo*/
.imgs{
    width: 100%;
    height: 100%;
}

/*contato*/
.form{
    margin-top: 5%;
}
/*login*/
.form_login{
    margin-top: 100px;
    margin-left: 50px;

/*cadastro*/
.cadastro{
    font-size: 20px;
}
