{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Cadastre Genero </legend>
	<div class="form_dicas">
		<form class="form-horizontal" action="/add_genero/" method="post" 
			role="form" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
			    <label for="nome" class="col-lg-3 control-label">
			    	Nome :
			    </label>
			    <div class="col-lg-7">
			    	{{add_genero.nome.errors}}
			   		{{add_genero.nome}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
	 			<div class="col-lg-10">
			    	<button type="submit" class="btn btn-info pull-right"> 
			    		Enviar 
			    	</button>
	 			</div>
	 		</div>

		</form>	
	</div>
{% endblock %}