{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<title>Vídeo locadora</title>
		<meta charset="utf8" name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
	    <link rel="stylesheet" type="text/css" href="{% static "css/locadora.css" %}" />
	</head>
	<body>	

		<header class="header">
			<div class="row" style="margin-left: 0px">	
				<div class="navbar navbar-inverse" role="navigation">				
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
						<div class="collapse navbar-collapse" style="font-size:130%;" id="menu1">  
						    <ul class="nav navbar-nav">
						    	<li><a href="/lista_emprestimos/">Empréstimos</a></li>
						    	<li><a href="/lista_filmes/">Filmes</a></li>
						    	<li><a href="/lista_clientes/">Clientes</a></li>
						    	<li><a href="/lista_diretores/">Diretores</a></li>
						    	<li><a href="/lista_genero/">Generos</a></li>
						    	<li><a href="/logout/">Logout</a></li>
						    </ul>
						</div>
					</div>	
				</div>
			</div>
		</header>

		<section>
			<div class="container" style="text-align: justify; margin-top: 76px;">
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<img src="{{STATIC_URL}}img/img.jpg">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="container col-md-11" style="background-color: #FFFFFF; margin-top: 30px; text-align: justify; border-radius: 10px;">
					{% block conteudo %}
					
					{% endblock %}
				</div>
			</div>

		</section>

		
		<div id="footer" >
			
		</div>

		<script src="{{ STATIC_URL }}js/jquery-2.0.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/locadora.js"></script>
	</body>
</html>
