{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Clientes </legend>
	<a href="/add_clientes/" class="btn btn-info"> Cadastrar clientes</a>
	<div class="form_dicas" style="margin-top: 30px;">
		<table class="table">
			<tbody>
				{%for i in clientes %}
				<tr>
					<td>
						<a href="/edita_clientes/{{i.id}}/">{{ i.nome }}</a>
					</td>
						
					{%if i.valor != 0 or i.valor != ""%}
						<td>
							{%  if i.valor == None %}
							
								0.0
							
							{% elif i.valor != 0%}
								<a href="/lista_emprestimos_divida_cliente/{{i.id}}/"> Pagar {{i.valor}} </a>
							{%else%}
								{{i.valor}}
							{% endif %}
						</td>
					{%endif%}	
					<td>
						<a href="/delete_clientes/{{ i.id }}/">
							<span class = "glyphicon glyphicon-remove pull-right"></span>
						</a>
					</td>
				</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}