{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Retorno Filme </legend>
	<div class="form_dicas">
		<form class="form-horizontal" action="/retorno_filme/{{id_emprestimo}}/" method="post" role="form" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
			    <label for="data_saida" class="col-lg-3 control-label">
			    	Data empréstimo :
			    </label>
			    <div class="col-lg-7">
			    	{{aluga_filme.data_saida.errors}}
			   		{{aluga_filme.data_saida}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="data_devolucao" class="col-lg-3 control-label">
			    	Data devolução :
			    </label>
			    <div class="col-lg-7">
			    	{{aluga_filme.data_devolucao.errors}}
			   		{{aluga_filme.data_devolucao}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="data_retorno" class="col-lg-3 control-label">
			    	Data devolução :
			    </label>
			    <div class="col-lg-7">
			    	{{aluga_filme.data_retorno.errors}}
			   		{{aluga_filme.data_retorno}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="filme" class="col-lg-2 control-label">
			    	Filme :
			    </label>
			    <div class="col-lg-7">
			    	{{aluga_filme.filme.errors}}
			   		{{aluga_filme.filme}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="clientes" class="col-lg-2 control-label">
			    	Cliente :
			    </label>
			    <div class="col-lg-7">
			    	{{aluga_filme.clientes.errors}}
			   		{{aluga_filme.clientes}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
	 			<div class="col-lg-10">
			    	<button type="submit" class="btn btn-info pull-right"> Enviar </button>
	 			</div>
	 		</div>

		</form>	
	</div>
{% endblock %}