{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Diretores </legend>
	<a href="/add_diretores/" class="btn btn-info"> Cadastrar diretores</a>
	<div class="form_dicas" style="margin-top: 30px;">
		<table class="table">
			<tbody>
				{%for i in diretores %}
				<tr>
					<td>
						<a href="/edita_diretores/{{i.id}}/">{{ i.nome }}</a>
					</td>	
					<td>
						<a href="/delete_diretores/{{ i.id }}/">
							<span class = "glyphicon glyphicon-remove pull-right"></span>
						</a>
					</td>
				</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}