{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Edita Filme </legend>
	<div class="form_dicas">
		<form class="form-horizontal" action="/edita_filmes/{{id_filmes}}/" method="post" role="form" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
			    <label for="nome" class="col-lg-3 control-label">
			    	Nome :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_filmes.nome.errors}}
			   		{{edita_filmes.nome}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="descricao" class="col-lg-3 control-label">
			    	Sinopse :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_filmes.descricao.errors}}
			   		{{edita_filmes.descricao}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="numero_copias" class="col-lg-3 control-label">
			    	Numero de cópias :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_filmes.numero_copias.errors}}
			   		{{edita_filmes.numero_copias}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="genero" class="col-lg-2 control-label">
			    	Genero:
			    </label>
			    <div class="col-lg-7">
			    	{{edita_filmes.genero.errors}}
			   		{{edita_filmes.genero}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="diretor" class="col-lg-2 control-label">
			    	Diretor:
			    </label>
			    <div class="col-lg-7">
			    	{{edita_filmes.diretor.errors}}
			   		{{edita_filmes.diretor}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
	 			<div class="col-lg-10">
			    	<button type="submit" class="btn btn-info pull-right"> 
			    		Enviar 
			    	</button>
	 			</div>
	 		</div>

		</form>	
	</div>
{% endblock %}