{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Cadastre clientes </legend>
	<div class="form_dicas">
		<form class="form-horizontal" action="/edita_clientes/{{id_clientes}}/" method="post" role="form" enctype="multipart/form-data">
			{% csrf_token %}
			{{edita_clientes.id}}
			<div class="form-group">
			    <label for="nome" class="col-lg-3 control-label">
			    	Nome :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_clientes.nome.errors}}
			   		{{edita_clientes.nome}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="cpf" class="col-lg-3 control-label">
			    	CPF :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_clientes.cpf.errors}}
			   		{{edita_clientes.cpf}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="rg" class="col-lg-3 control-label">
			    	RG :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_clientes.rg.errors}}
			   		{{edita_clientes.rg}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="telefone" class="col-lg-3 control-label">
			    	Telefone :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_clientes.telefone.errors}}
			   		{{edita_clientes.telefone}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="rua" class="col-lg-3 control-label">
			    	Rua :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_clientes.rua.errors}}
			   		{{edita_clientes.rua}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="numero" class="col-lg-3 control-label">
			    	Numero :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_clientes.numero.errors}}
			   		{{edita_clientes.numero}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="cep" class="col-lg-3 control-label">
			    	Cep :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_clientes.cep.errors}}
			   		{{edita_clientes.cep}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="bairro" class="col-lg-3 control-label">
			    	Bairro :
			    </label>
			    <div class="col-lg-7">
			    	{{edita_clientes.bairro.errors}}
			   		{{edita_clientes.bairro}} 	
			    </div>
			    <a href="/edita_bairro/" class="btn btn-info">
			    	Cadastrar Bairros
			    </a>
	 		</div>
	 		<div class="form-group">
	 			<div class="col-lg-10">
			    	<button type="submit" class="btn btn-info pull-right"> 
			    		Enviar 
			    	</button>
	 			</div>
	 		</div>

		</form>	
	</div>
{% endblock %}