{% extends "base.html" %}

{% block conteudo %}
	
	<legend> 
		Sinto muito mas este filme não esta disponível!
	</legend>
	<div class="form_dicas" style="margin-top: 30px;">
		<a href="/lista_filmes/" class="btn btn-info"> 
			Voltar 
		</a>
	</div>
{% endblock %}