{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Filmes </legend>
	<a href="/add_filmes/" class="btn btn-info"> Cadastrar filmes</a>
	<div class="form_dicas" style="margin-top: 30px;">
		<table class="table">
			<tbody>
				{%for i in filmes %}
				<tr>
					<td>
						<a href="/verifica_filme/{{i.id}}/">{{ i.nome }}</a>
					</td>
					<td>
						<a href="/edita_filmes/{{i.id}}" class="btn btn-info">Editar filme</a>
					</td>	
					<td>
						<a href="/delete_filmes/{{ i.id }}/">
							<span class = "glyphicon glyphicon-remove pull-right"></span>
						</a>
					</td>
				</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}