{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Generos </legend>

	<a href="/add_genero/" class="btn btn-info"> Cadastrar genero</a>
	<div class="form_dicas" style="margin-top: 30px;">
		<table class="table">
			<tbody>
				{%for i in generos %}
				<tr>
					<td>
						<a href="/edita_genero/{{i.id}}/">{{ i.nome }}</a>
					</td>	
					<td>
						<a href="/delete_genero/{{ i.id }}/">
							<span class = "glyphicon glyphicon-remove pull-right"></span>
						</a>
					</td>
				</tr>	
				{% endfor %}
			</tbody>
		</table>
{% endblock %}