{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Empréstimos </legend>
	<div class="form_dicas" style="margin-top: 30px;">
		<table class="table">
			<tbody>
				{%for i in emprestimos %}
				<tr>
					<td>
						<a href="/retorno_filme/{{i.id}}/">{{ i.clientes }}</a>
					</td>
					<td>
						{{ i.data_devolucao }}
					</td>
					<td>
						{{ i.filmes }}
					</td>

				</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}