{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Filmes </legend>
	<div class="form_dicas" style="margin-top: 30px;">
		<table class="table">
			<tbody>
				{%for i in emprestimos %}
				<tr>
					<td>
						{{ i.filmes.nome }}
					</td>
					<td>
						<a href="/pagar/{{i.id}}/" class="btn btn-info">{{i.valor}}</a>
					</td>
				</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}