{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<title>Vídeo locadora</title>
		<meta charset="utf8" name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
	    <link rel="stylesheet" type="text/css" href="{% static "css/locadora.css" %}" />
	</head>
	<body>	

		<div class="container" style="text-align: justify; margin-left: 400px; margin-top: 6px;">
			<div class="row">
				<div class="col-md-8 col-xs-8">
					<img src="{{STATIC_URL}}img/img.jpg">
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="container col-md-7" style="background-color: #FFFFFF; margin-left: 180px; margin-top: 30px; text-align: justify; border-radius: 10px;">
				<legend>Login </legend>
				<div class="form_login">
					<form class="form-horizontal" action="/login/" method="post" role="form">
						{% csrf_token %}
						<div class="form-group">
						    <label for="nome_pessoa" class="col-lg-2 control-label">
						    	Nome :
						    </label>
						    <div class="col-lg-7">
						    	{{login.nome_pessoa.errors}}
						   		{{login.nome_pessoa}} 	
						    </div>
						   
				 		</div>
						<div class="form-group">
						    <label for="senha" class="col-lg-2 control-label">
						    	Senha :
						    </label>
						    <div class="col-lg-7">
						    	{{login.senha.errors}}
						    	{{login.senha}}
						    </div>
				 		</div>
				 		<div class="form-group">
				 			<div class="col-lg-9">
						    	<button type="submit" class="btn btn-info pull-right"> 
						    		Enviar 
						    	</button>
				 			</div>
				 		</div>
					</form>	
				</div>
			</div>
		</div>
	</body>
</html>