{% extends "base.html" %}

{% block conteudo %}
	
	<legend> Efetuar pagamento </legend>
	<div class="form_dicas">
		<form class="form-horizontal" action="/pagar/{{id_emprestimo}}/" method="post" 
			role="form" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
			    <label for="valor" class="col-lg-3 control-label">
			    	Valor a ser pago :
			    </label>
			    <div class="col-lg-7">
			    	{{pagar.valor.errors}}
			   		{{pagar.valor}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
	 			<div class="col-lg-10">
			    	<button type="submit" class="btn btn-info pull-right"> 
			    		Enviar 
			    	</button>
	 			</div>
	 		</div>

		</form>	
	</div>
{% endblock %}