#logo img {
    width:290px;
	height: 160px;
    position: absolute;
    z-index: 2;
    left: 80px;
}
#slide{
    padding: 0;
    margin: 0;
}
#slide img{
    margin-top: -168px;
    width: 100%;
    height: 948px;
    position: absolute;
    z-index: 1;
}   
.noticias{
    width:100px;
    height:100px;
}
